.Header {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo-icon {
  font-size: 30px;
  color: var(--blueColor);
  animation: spin 16s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
