:root {
  --primaryColor: #deff58;
  --hoverColor: #e0f780;
  --paleColor: hsl(54, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsla(220, 10%, 94%, 0.767);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  --blueColor: hsl(198, 77%, 58%);

  --main-font: "Playfair Display", serif;
  --biggestFontSize: 30px;
  --h1FontSize: 25px;
  --h2FontSize: 22px;
  --h3FontSize: 20px;
  --normalFontSize: 16px;
  --smallFontSize: 14px;
  --smallestFontSize: 10px;
}
